.logoSize {
  height: 100%;
  width: 100%;
  max-width: 160px;
  max-height: 14px;
  transition: 0.5s;
  color: var(--color-primary-focus);
  white-space: nowrap;
  text-align: center;
  font-size: var(--font-size-logo);
  // font-weight: bold;
  @media (min-width: 425px) {
    max-width: 170px;
    max-height: 20px;
  }

  &.reg {
    max-width: 100px;
    max-height: 17px;
    align-items: none;

    @media (min-width: 550px) {
      max-width: 122px;
      max-height: 21px;
    }
  }

  &.dash {
    max-width: 70px;
    max-height: 17px;

    @media (min-width: 550px) {
      max-width: 122px;
      max-height: 25px;
    }
  }
}
